<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Customer Page</title>
    <style>
        .navbar {
            background-color: #483D8B;
        }

        .navbar-brand img {
            width: 80px;
        }
    </style>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/TR.png }">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link fas fa-customer-basket"  th:href="@{/basket}">Cart</a>
                    </li>
                    <li>
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</div>
    <h2>Your order was a success.</h2>
    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Ordered by</th>
                <th>Total price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order: ${orderList}">
                <td th:text="${order.date}"></td>
                <td th:text="${order.user.username}"></td>
                <td th:text="${order.total}"></td>
            </tr>
            </tbody>
        </table>
    </div>

<div class="full-details">
    <table class="table table-bordered table-striped table-hover table-responsive-xl">
        <thead class="thead-dark">
        <tr>
            <th>Product</th>
            <th>Ouantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${customerbasketList}">
            <td th:text="${product.product}"></td>
            <td th:text="${product.quantity}"></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>