<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Customer Page</title>
    <style>
        .navbar {
            background-color: #483D8B;
        }

        .navbar-brand img {
            width: 80px;
        }
    </style>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/TR.png }">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="navbar-nav">


                </ul>

            </div>
        </nav>
    </div>
</div>
<h2>Welcome to the Customer Page</h2>
<div><h5>Products in Category| [[${pageTitle}]]</h5>
</div>
<div class="row">

    <th:block th:each="product: ${listProducts}">
        <div class="col-md-2">
            <div>
                <img th:src="@{/images/StockComputer.jpg}" style="width: 80px; height: 80px;">
            <br/>
            <b>[[${product.name}]]</b>
        </div>
        <div>
            <span>$ [[${product.price}]]</span>
        </div>
        </div>

    </th:block>
</div>

<div class="text-center">
    <p>Copyright &copy; Kerem & Dmitry</p>
</div>
</body>
</html>

