<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <style>
        /* Din CSS-styling här */
    </style>
</head>
<body>
<div class="product-list">
    <h1>Below is a list of available products</h1>

    <div>
        <form action="#" th:action="@{/products}" method="post">
            <div th:each="product : ${products}">
                <button type="submit" th:attr="data-product-id=${product.productid}" th:text="${product.name}"></button>
                <input type="hidden" name="productid" th:value="${product.productid}" />
            </div>

            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" required/>

            <button type="submit">Add Order</button>
        </form>
    </div>
</div>
</body>
</html>