<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Basket List</title>
    <!-- Add the same CSS styles as in the other HTML files -->
</head>
<body>
<div class="customerbasket-list">
    <div class="logo">
        <img src="/images/TR.png" alt="TR logo">
    </div>
    <h1>Below is a list of customer baskets</h1>

    <table>
        <thead>
        <tr>
            <th>Customer Basket ID</th>
            <th>User</th>
            <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customerbasket : ${customerbaskets}">
            <td th:text="${customerbasket.customerbasketid}"></td>
            <td th:text="${customerbasket.user}"></td>
            <td th:text="${customerbasket.totalprice}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>